
*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}
.logo {
  background-image: url("Eagle.png");
  background-size: contain; /* or background-size: cover; depending on your preference */
  background-repeat: no-repeat;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
}
/* CSS for desktop */

/* Your existing CSS code goes here */

/* CSS for mobile */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px 5%; /* Adjust padding for smaller screens */
  }

  .navbar a {
    font-size: 16px; /* Adjust font size for smaller screens */
    margin-left: 20px; /* Adjust margin for smaller screens */
  }

  .logo {
    width: 80px; /* Adjust logo size for smaller screens */
    height: 80px; /* Adjust logo size for smaller screens */
  }
}
p {
  text-align: center;
  margin-top: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  width: 600px;
  margin-left: 150px;
  font-size: 40px;
  letter-spacing: 1px;
  border-spacing: 2px 10px 5px 10px;
}
button {
  color: whitesmoke;
  margin-left: 360px;
  background-color: darkred;
  width: 20%;
  color: darkred;
  background-color: #1b2f31;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  font-size: large;
  font-weight: 600;
}